<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Index</title>
</head>

<body>
    <h1>Энэ бол индекс хуудас</h1>

    <h2>Та staticApp/zurag гэж бичиж static file-
        с зураг хэрхэн дуудах жишээг үзнэ үү.</х>
    <h3>Та staticApp/menu гэж бичиж static file-
        с css ашигласан жишээг үзнэ үү.</h3>
    <h4>Та staticApp/media гэж бичиж static file-
        с видео хэрхэн дуудах жишээг үзнэ үү.</h4>
</body>

</html>