{% extends "layout.html" %}
{% block content %}
<h1>Мандах Их Сургуулийн товч танилцуулга</h1>
<p class="lead">
    Мандах Их сургууль 1992 онд байгуулагдсан. 3 салбар сургуультай. Үүнд:
<ul>
    <li>Төв сургууль</li>
    <li>Дарханы салбар сургууль</li>
    <li>Мэдээлэл, технологийн сургууль</li>
</ul>
</p>
<div class="row">

    <div class="col-md-4">
        <h2>АЛСЫН ХАРАА</h2>
        <p>
            ОЛОН УЛСЫН ХЭМЖЭЭНД ХҮЛЭЭН ЗӨВШӨӨРӨГДСӨН СУРГАЛТ-
            СУДАЛГААНЫ ИХ СУРГУУЛЬ БОЛОХ.
        </p>
    </div>
    <div class="col-md-4">
        <h2>ЭРХЭМ ЗОРИЛГО</h2>
        <p>
            ҮНДЭСНИЙ БОЛОН ОЛОН УЛСЫН СТАНДАРТ, ДЭЛХИЙН ХӨГЖЛИЙН ЧИГ ХАНДЛАГАД НИЙЦСЭН БОЛОВСРОЛЫН ЧАНАРТАЙ ҮЙЛЧИЛГЭЭ
            ҮЗҮҮЛЖ, ОЮУНЛАГ ЧАДВАРЛАГ, СУДЛААЧ МЭРГЭЖИЛТЭН БЭЛТГЭНЭ.
        </p>
    </div>
    <div class="col-md-4">
        <h2>УРИА</h2>
        <p>БИД МЭДЛЭГЭЭР БАЯЛАГИЙГ БҮТЭЭНЭ.</p>
    </div>
</div>
{% endblock %}