<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/bf15db9157.js"></script>
    <style>
        .alert {
            padding: 12px;
            border-radius: 3px;
            font-size: 1.2rem;
            margin-bottom: 16px;
            border-width: 2px;
            border-style: solid;
        }
    </style>
    <title>{% block title %}Layout{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Нүүр</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data- target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/alban">Албан тушаал</a>
                <a class="nav-item nav-link" href="/zereg">Эрдмийн зэрэг</a>
                <a class="nav-item nav-link" href="/tenhim">Тэнхим</a>
                <a class="nav-item nav-link" href="{{url_for('bagsh_list')}}">Багш</a>
                <a class="nav-item nav-link" href="#">Оюутан</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">

        <div class="container text-center">
            <small>Copyright &copy; 2020</small>
            <a href="#" class="fa fa-chrome"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </footer>
</body>

</html>