<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Branch Information</h3>
    {% if branches %}
    <ul>
        {% for branch in branches %}
        <li>{{branch.bid}} {{branch.bname}} </li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>No branches found!</h1>
    {% endif %}
</body>

</html>