{% extends "layout.html" %}
{% block title %}Oyutan{% endblock title %}
{% block content %}
<h2>Оюутан</h2>
<h4>Оюутан нэмэх</h4>
<form method="POST">
    <table class="table">
        <tr>
            <td>Оюутны код:</td>
            <td><input type="text" name="code"></td>
        </tr>
        <tr>
            <td>Оюутны овог: </td>
            <td><input type="text" name="ovog"></td>
        </tr>
        <td>Оюутны нэр: </td>
        <td><input type="text" name="ner"></td>
        </tr>
        <tr>
            <td>Регистрийн дугаар: </td>
            <td><input type="text" name="regdug"></td>
        </tr>
        <tr>
            <td>Мэргэжил:</td>
            <td>
                <select name="mergejil">
                    {% for mergejil in mergejils %}
                    <option value="{{mergejil.mcode}}">{{mergejil.mname}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Утас:</td>
            <td><input type="number" name="utas"></td>
        </tr>
        <tr>
            <td>Бүртгүүлсэн огноо:</td>
            <td><input type="date" name="burtognoo"></td>
        </tr>
        <tr><td><input type="submit" class="btn btn-primary"  value="Хадгалах" /></td></tr>
    </table>
</form>
<a href="{{url_for('student_list')}}">Буцах</a>
{% endblock %}