<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="">

        {% csrf_token %}
        <input type="text" name="txtStlast" value="{{ovog}}">

        <input type="text" name="txtStname" value="{{oyutan}}">

        <select name="depname">
            {% for tbl_department in departments %}
            {% if depname == tbl_department.id %}
            <option value="{{tbl_department.id}}" selected>{{tbl_department.depname}}</option>
            {% else %}
            <option value="{{tbl_department.id}}">{{tbl_department.depname}}</option>

            {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Оюутан засах">
    </form>
</body>

</html>